<div class="col-md-4 col-md-offset-4">
	<h1>修改討論版</h1>
	<hr>

	<%= simple_form_for @group do |f| %>
		<div class="form-group">
			<%= f.input :title, inout_html: {class: "form-control"} %>
			<%= f.input :description, input_html: {class: "form-control"} %>
		</div><!-- end of form-group -->
		<%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submitting..." } %>
	<% end %><!-- end of simple_form -->

</div><!-- end of col-md-4 -->