<div class="col-md-12">
	<div class="group">
		<%= link_to("New Group", new_group_path, class: "btn btn-primary pull-right") %>
	</div><!-- end of group -->
	<table class="table table-hover">
		<thead>
			<tr>
				<td>#</td>
				<td>Title</td>
				<td>Description</td>
			</tr>
		</thead><!-- end of table-head -->
		<tbody>
			<% @groups.each do |group| %>
				<tr>
					<td>#</td>
					<td><%= link_to(group.title, group_path(group)) %></td>
					<td>
						<%= link_to("Edit", edit_group_path(group), class: "btn btn-sm btn-default")%>
						<%= link_to("Delete", group_path(group), class: "btn btn-sm btn-default", method: :delete, data: { confirm: "Are you sure?" } )%>
					</td>
				</tr>
			<% end %><!-- end of group.each -->
		</tbody><!-- end of tbody -->
	</table><!-- end of table -->
</div>