<div class="col-md-4 col-md-offset-4">
	<h1>新增討論版</h1>
	<hr>
	<%= simple_form_for @group do |f| %>
		<div class="simple_form">
			<%= f.input :title, input_html: {class: "form-control"} %>
			<%= f.input :description, input_html: {class: "form-control"} %>
		</div>
		<%= f.submit "Submit", class: "btn btn-primary", data: {disable_with: "Submitting..."} %>
	<% end %>
</div>