<h1 class="text-center">修改文章</h1>

<div class="col-md-4 col-md-offset-4">

	<%= simple_form_for [@group, @post] do |f| %>
		<div class="form-group">
			<%= f.input :content, input_html: { class: "form-control"} %>
		</div>

		<div class="form-actions">
			<%= f.submit "Submit", disable_with: "Submiting...", class: "btn btn-primary" %>
		</div>
	<% end %>

</div><!-- end of col-md-4 -->