<h1 class="text-center">新增文章</h1>

<div class="col-md-4 col-md-offset-4">	
	<hr>
	<%= simple_form_for [@group,@post] do |f| %>
		<div class="form_group">
			<%= f.input :content, input_html: { class: "form-control"} %>
		</div>
		<div class="form-actions">
			<%= f.submit "Submit", disable_with: "Submiting...", class: "btn btn-primary" %>
		</div>
	<% end %>
</div>