<footer class="container" style="margin-top: 100px;">
	<p class="text-center">
    	Copyright ©2014 Rails101s <br>
    	Design by <a href="http://sdlong.logdown.com" target=_new>sdlong</a>
  	</p>
</footer>