<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="/">Rails 101s</a>
    </div><!-- end of navbar-header -->
    
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        
        <% if !current_user %>
          <li><%= link_to("註冊", new_user_registration_path) %></li>
          <li><%= link_to("登入", new_user_session_path) %></li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Hi!, <%= current_user.name %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to("My Groups", account_groups_path) %></li>
              <li><%= link_to("My posts", account_posts_path) %></li>
              <li><%= link_to("帳號設定", edit_user_registration_path) %></li>
              <li><%= link_to("登出", destroy_user_session_path, method: :delete) %></li>
            </ul><!-- end of dropdown-menu -->
          </li><!-- end of dropbox -->
        <% end %><!-- end of !current_user -->

      </ul><!-- end of navbar-nav -->
    </div><!-- end of collapse navbar-collapse -->

  </div><!-- end of container-fluid -->
</nav><!-- end of nav -->