<!DOCTYPE html>
<html>
	<head>
		<title>Rails101s</title>
	  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  	<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container-fluid">
			<%= render "common/navbar" %>
			<%= notice_message %>
			<%= yield %>
			<%= render "common/footer" %>
		</div>
	</body>
</html>
